@import url("styles/reset.css");
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/body.css");
@import url("styles/carousel.css");
@import url("styles/card.css");
@import url("styles/topics.css");
@import url("styles/news.css");
@import url("styles/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --bg-color: #EBECEE;
    --primary-color: #FFFFFF;
    --secondary-color: #002F52;
    --background-gradient-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --tertiary-color: #EB9800;
    --footer-title-color: #858585;
    --footer-color: #474646;
    --quaternary-color: #000000;
    --primary-font-family: 'Poppins', sans-serif;
    --secondary-font-family: "Josefin Sans", sans-serif;
}