.banner {
    background: var(--background-gradient-color);
    color: var(--primary-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .banner__title {
        padding: 1em;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .banner__text {
        padding: 1em 0;
        font-weight: 500;
    }

    .banner__search {
        display: flex;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: transparent;
        border-width: 0.1rem;
        border-style: solid;
        border-color: var(--primary-color);
        color: var(--primary-color);
        border-radius: 1.5rem;
        height: 2rem;
        justify-content: center;
        position: relative;
    }

    .banner__search::placeholder {
        font-family: var(--primary-font-family);
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: var(--primary-color);
        background: url("../img/Lupa.svg") no-repeat;
        background-size: contain;
        background-position: 1rem;
    }

    @media screen and (min-width: 1024px) {
        .banner__title {
            font-size: 2em;
        }  
        
        .banner__search {
            width: 60vw;
            margin-left: 17vw;
            margin-right: 17vw;
        }
    }