.carousel__title {
    color: var(--tertiary-color);
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial !important;
    margin: 0.5rem;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

@media screen and (min-width: 1024px) {
    .carousel__title {
        font-size: 26px;
    }


    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block !important;
        top: 60% !important;
    }

@media screen and (min-width: 1728px) {
    .carousel__title {
        font-size: 2rem;
    }
    
}

}
