hr {
    margin: 0;
}

.footer {
    background-color: var(--primary-color);
    padding: 1em;
}

.footer__title {
    font-size: 1em;
}

.footer__list {
    display: none;
}

@media screen and (min-width: 1024px) {   

    .footer{
        display: flex;
        flex-direction: row;
    }

    .footer__title {
        font-size: 24px;
        width: 20vw;
    }

    .footer__list {
        display: inline-block;
        padding: 0 4rem;
    }

    .footer__list__item__title {
        margin-bottom: 1rem;
        color: var(--footer-title-color);
        text-transform: uppercase;
        font-size: 14px;
    }

    .footer__list__item__text {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
    }

    .footer__list__item__link {
        margin-left: 0.2em;
        text-decoration: none;
        color: var(--footer-color);
    }
}