.news {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secondary-color);
}

.news__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.news_text {
    font-size: 16px;
    font-weight: 300;
}

.news__email {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-radius: 1.5rem;
    border-color: var(--secondary-color);
    height: 2rem;
    width: 90vw;
    align-items: center;
    color: var(--secondary-color);
}

.news__email::placeholder {
    font-family: var(--primary-font-family);
    color: var(--secondary-color);
    background: url("../img/Email.svg") no-repeat;
    background-position: 0.5rem;
    padding-left: 3rem;
}

@media screen and (min-width: 1024px) {
    .news {
        display: flex;
    }

    .news__title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .news {
        padding: 2rem 15vw;
    }

    .news__email {
        margin-left: 5rem;
    }
}